
<ion-view title="'Login'" left-buttons="leftButtons"
	right-buttons="rightButtons"> <ion-content has-header="true" padding="true">
<div align="center">
	<div class="padding">
		<button class="button button-assertive" ng-click="googleSignIn()">
			<span class="icon ion-social-googleplus-outline pad-right"></span>Google Sign-in
		</button>
	</div>
	<div class="padding">
		<button class="button button-positive" ng-click="facebookSignIn()">
			<span class="icon ion-social-facebook pad-right"></span>Facebook Sign-in
		</button>
	</div>
</div>
<div align="center">OR</div>
<div class="padding">
	<button class="button button-block button-dark"
		ng-click="quickPullUp()">
		<span class="icon ion-android-camera pad-right"></span>Quick Pull Up
	</button>
</div>
</ion-content> </ion-view>