<!--
  This template loads for the 'tab.wine-detail' state (app.js)
  'wine' is a $scope variable created in the WineCtrl controller (controllers.js)
  The WineCtrl pulls data from the Wines service (service.js)
  The WineService returns an array of wine data
-->
<ion-view title="{{wine.title}}"> 
 	
	<ion-content has-header="true" padding="true">
		<div class="card">
			<div class="item item-text-wrap">
				<p>{{ wine.description }}</p>
			</div>
		</div>


		<div class="list">
		
			<div class="item item-divider">Basic</div>
		
			<div ng-repeat="attr in $parent.wine.basicList | filter:checked='true'"
				class="item range range-positive">
				<div class="row responsive-md">
					<i class="col-10">{{attr.text}}</i> <input disabled="true" type="range" name="volume"
						min="0" max="100" value="33" ng-model="attr.factor">
				</div>
			</div>
			<div class="item item-divider" ng-show="extendedItems.length">Extended</div>
		
			<div ng-repeat="attr in extendedItems = ($parent.wine.extendedList | filter:checked='true')"
				class="item range range-positive">
				<div class="row responsive-md">
					<i class="col-10">{{attr.text}}</i> <input disabled="true" type="range" name="volume"
						min="0" max="100" value="33" ng-model="attr.factor">
				</div>
			</div>
		</div>

</ion-content> 
</ion-view>
