<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="Trump Winery">
  <ion-content has-header="true" has-tabs="true" padding="true">
   
    <p>
      Wine Enthusiast's Highest Rated Wine in Virginia and 2013 Rising Star Winner.
    </p>
    <p>
    Featuring almost 1,300 acres of breathtaking scenery, Trump Winery is situated in the heart of the Monticello Wine Trail in Charlottesville, Virginia. Just a few miles from Thomas Jefferson's Monticello, Trump Winery follows Jefferson's footsteps in making new world wines inspired by the French wine regions of Bordeaux and Champagne. With a deep sense of place we aim to tie together terroir and innovation. We know that any visit to Trump Winery will be a treasured experience.
    </p>
    <p>
      Find out more:  
      <a href="http://www.trumpwinery.com" target="_blank">Website</a>.
    </p>
    <p>
      <strong>Address</strong><br>
      100 Grand Cru Drive <br>
      Charlottesville, VA 22902 <br>
      Contact: 434-977-3895 | Tasting Room: 434-984-4855
    </p>
   
  </ion-content>
</ion-view>
