<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{winery.name | nullParser: 'Winery'}}">
 	<ion-nav-buttons side="right" ng-if="winery">
      <button class="button button-icon ion-camera" ng-click="lookupWinery()">
        
      </button>
    </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">
  <div ng-if="winery">
   	<br>
    <p>
      Wine Enthusiast's Highest Rated Wine in Virginia and 2013 Rising Star Winner.
    </p>
    <p>
    Just a few miles from Thomas Jefferson's Monticello, Trump Winery follows Jefferson's footsteps in making new world wines inspired by the French wine regions of Bordeaux and Champagne. With a deep sense of place we aim to tie together terroir and innovation. We know that any visit to Trump Winery will be a treasured experience.
    </p>
    <p>
      Find out more:  
      <a href="http://www.trumpwinery.com" target="_blank">Website</a>.
    </p>
    <br>
    <p>
      <strong>Address</strong><br>
      100 Grand Cru Drive <br>
      Charlottesville, VA 22902 <br>
      Contact: 434-977-3895 | Tasting Room: 434-984-4855
    </p>
   </div>
<div ng-if="!winery" class="card card-rounded">
	<br><br>
	<div class="item item-text-wrap card-rounded">
		<div align="center">Pull up a winery.</div>
		<span class="round-button round-button-padded" class="round-button">
			<span class="ion-android-camera" ng-click="lookupWinery()"></span>
		</span>
	</div>	

</div>
  </ion-content>
</ion-view>
