<!-- 
  This template gets placed in the Wines tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'wines' data comes from its $scope within WineIndexCtrl (controller.js)
-->
<ion-view title="Wines for Today">
  <ion-content has-header="true" has-tabs="true">

    <ion-list>

      <ion-item ng-repeat="wine in wines" type="item-text-wrap" href="#/tab/wine/{{wine.id}}">
        <h3>{{wine.title}}</h3>
        <p>{{wine.description}}</p>
      </ion-item>
      
    </ion-list>

<div class="padding">
	<button class="button button-block button-balanced"
		ng-click="saveVisit()">
		<span class="icon ion-ios7-cloud-upload-outline pad-right"></span>Save
	</button>
</div>
  </ion-content>
</ion-view>
