<!-- 
  This template gets placed in the Wines tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'wines' data comes from its $scope within WineIndexCtrl (controller.js)
-->
<ion-view title="Wines for Today">
  <ion-content has-header="true" has-tabs="true">

    <ion-list>

      <ion-item ng-repeat="wine in wines" type="item-text-wrap" href="#/tab/wine/{{wine.seqNum}}">
        <h3>{{wine.title}}</h3>
        <p>{{wine.description}}</p>
      </ion-item>
      
    </ion-list>

<div ng-if="wines.length" class="padding">
	<button class="button button-block button-calm"
		ng-click="saveTasting()">
		<span class="icon ion-ios7-cloud-upload-outline pad-right"></span>Save
	</button>
</div>
<div ng-if="!wines.length" class="card card-rounded">
	<br><br>
	<div class="item item-text-wrap card-rounded">
		<div align="center">No winery selected. Pull up a winery.</div>
		<span class="round-button round-button-padded" class="round-button">
			<span class="ion-android-camera" ng-click="lookupWinery()"></span>
		</span>
	</div>	

</div>
  </ion-content>
</ion-view>
