
<div class="modal" ng-controller="AttributesCtrl">
	<ion-header-bar class="bar bar-header bar-stable" align-title="center">
	
		
	
		<h1 class="title">Laboure-Roi Pommard - Details</h1>
		<button class="button button-clear button-primary ion-android-arrow-up-right"
			ng-click="modal.hide()">&nbsp;</button>
	</ion-header-bar>
<ion-content  padding="true">
      
      <div class="list">
        
        <div class="item item-divider"> 
          Wine Characteristics
        </div>
        
         <ion-list>

       <ion-item type="item-text-wrap">
        <h3><b>Varietal Composition:</b> 100% Sangiovese Grosso</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Harvest time:</b> September</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b># Produced:</b> 120,000</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Fermentation container:</b> Stainless stell tanks</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Maloactic fermentation:</b> Yes</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Aging container:</b> Large oak barrels</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Alcohol:</b> 13% - 14%</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>pH level:</b> 3.3</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Residual sugar:</b> 1.5 gms/L</h3>
          </ion-item> 
         <ion-item type="item-text-wrap">
        <h3><b>Acidity:</b> 5.6 gms/L</h3>
         </ion-item> 
        
      
    	</ion-list>
        
        
     
      </div>

    </ion-content>
</div>


             
    